.box-1 {
    background-color: aqua;
}

.box-2 {
    background-color: azure;
}

.box-3 {
    background-color: burlywood;
}

.box-4 {
    background-color: darkgoldenrod;
}

.main {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.box-3 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/2; */
}

.box-1 {
    grid-column: 1/3;
    grid-row: 1/3
}

.box-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}


.main2 {
    margin-top: 20px;
    height: 100vh;
    display: grid;
    grid-template-areas: "box-5 box-6"
        "box-7 box-7";

    align-items: center;
}

.box-5 {
    grid-area: box-5;
    background-color: darkgreen;
    display: flex;
    align-content: center;
    justify-content: space-around;

}

.box-6 {
    grid-area: box-6;
    background-color: darkorchid;

}

.box-7 {
    grid-area: box-7;
    background-color: darkslategrey;

}




@media only screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 100%;
    }
}